
params {
    //outdir                   ="${launchDir.baseName}.Results"
    outdir                   =null
    //rundir                   ="${launchDir.baseName}" 
    help                     =false
    panel                    =null
    samplesheet              =null
    preprocessOnly           =null
    keepwork                 =null
    nomail                   =null
    hg38v1                   =null
    hg38v2                   =null
    cram                     =null
    fastq                    =null
    spring                   =null
    skipJointGenotyping      =null
    fastqInput               =null
    skipSV                   =null
    skipVariants             =null
    skipQC                   =null
    skipSTR                  =null
    skipSMN                  =null
    subdirs                  =null
    gatk                     =null
    copyCram                 =null
    single                   =null
    server                   =null
    genome                   = "hg38"
}


switch (params.genome) {
    case 'hg38':
    def sharedConfig = new File('/data/configs/nextflowNGS.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;

    case 't2t':
    def sharedConfig = new File('/data/configs/nextflowNGS_T2T.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;
}
