
params {
     genome                   = "hg38"
}


switch (params.genome) {
    case 'hg38':
    def sharedConfig = new File('/data/configs/nextflowNGS.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;

    case 't2t':
    def sharedConfig = new File('/data/configs/nextflowNGS_T2T.config')
    if (sharedConfig.exists()) {
        includeConfig sharedConfig
    }
    break;
}
